body {
  /*font-family: 'Montserrat', sans-serif;*/

  font-family: 'EB Garamond', serif;
  font-size: 0.8em;
}
body h1,
body h2 {
  /*font-family: 'Markazi Text', serif;*/

  font-family: 'Abril Fatface', cursive;
}
body .btn {
  letter-spacing: 1px;
  padding: 5px 20px;
}
body #header {
  text-transform: uppercase;
  padding: 100px 0;
  border-bottom: 5px solid #98c1d9;
}
body #header h1 {
  font-size: 6em;
  font-weight: bolder;
  margin: 20px 0;
}
body #header h2 {
  font-size: 1.5em;
}
body #header .contact {
  text-transform: uppercase;
  background-color: #006cce;
  color: #ffffff;
  font-size: 1em;
}
body #header .profile_picture {
  width: 100%;
}
body .content {
  margin-top: 20px;
}
body .content h1 {
  font-size: 2em;
  text-transform: uppercase;
}
body .content h2 {
  font-size: 1.5em;
  margin: 10px 0;
}
body #footer {
  border-top: 5px solid #98c1d9;
  padding: 30px 0;
}
body #footer h1 {
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
}
body #cover-header {
  margin-top: 100px;
  margin-left: 100px;
}
body #cover {
  height: 400px;
  position: relative;
  text-transform: uppercase;
}
body #cover:after {
  background-image: url('images/cover.JPG');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -1;
}
body #cover h1,
body #cover h2 {
  color: #ffffff;
}
body #cover h1 {
  font-size: 5em;
  letter-spacing: 3px;
  text-shadow: 2px 2px #3d5a80;
}
body #cover h2 {
  font-size: 1em;
  letter-spacing: 3px;
}
body #cover .contact {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1em;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
}
body #cover .contact:hover {
  background-color: #ffffff;
  color: #000000;
}
